<!-- 
	text: string
	type: ["link", "button", "reset", "submit"],
	style: ["primary", "success", "info", "warning", "danger", "link"],
	size: ["lg", "sm"],
	class: string
	href: string
	isNav: boolean
-->

{{ if or (eq .type "button") (eq .type "submit") }}
	<button type="{{ if .type }}{{ .type }}{{ else }}button{{end}}" class="btn {{if .style}}btn-{{.style}}{{end}} {{if .size}}btn-{{.size}}{{end}} {{if .class}}{{.class}}{{end}}">
		{{ .text }}
	</button>
{{ else }}
	<a class="{{if .isNav}}nav-link{{end}} btn {{if .style}}btn-{{.style}}{{end}} {{if .size}}btn-{{.size}}{{end}} {{if .class}}{{.class}}{{end}}" href="{{ .url | relURL }}">
		<span>{{ .text }}</span>
	</a>
{{ end }}