<section class="section">
	<div class="container">
		<div class="row">
			<div class="column col-md-6 {{ if eq .imagePosition "right" }}order-2 reveal-right{{else}}reveal-left{{end}}">
				<img class="img-fluid mx-auto" src="{{ .image | relURL }}">
			</div>
			<div class="column col-md-6">
				<p class="text-muted text-uppercase"><small>{{ .subTitle }}</small></p>
				<h3 class="reveal-bottom">
					{{ .title }}
				</h3>
				<p>{{.text}}</p>
				<p>
					{{ if .buttonText }}
						{{ $buttonVars := dict "text" .buttonText "url" .buttonLink "style" "outline-primary"}}
						{{ partial "components/button.html" $buttonVars }}
					{{ end }}
				</p>
			</div>
		</div>
	</div>
</section>