{{ if eq .size "1" }}
	<h1 class="{{ if .bold }}font-weight-bold{{end}}">{{.title}}</h1>
{{ else if eq .size "2" }}
	<h2 class="{{ if .bold }}font-weight-bold{{end}}">{{.title}}</h2>
{{ else if eq .size "3" }}
	<h3 class="{{ if .bold }}font-weight-bold{{end}}">{{.title}}</h3>
{{ else if eq .size "4" }}
	<h4 class="{{ if .bold }}font-weight-bold{{end}}">{{.title}}</h4>
{{ else if eq .size "5" }}
	<h5 class="{{ if .bold }}font-weight-bold{{end}}">{{.title}}</h5>
{{ else }}
	<h2 class="{{if .bold}}font-weight-bold{{end}}">{{.title}}</h2>
{{end}}