<section class="d-flex align-items-center vh-100 {{if .backgroundImg}} overlay text-white{{end}}"{{if .backgroundImg}}style="background-image: url('{{ .backgroundImg }}');"{{end}}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center">
				<h1 class="display-4 mb-3 font-weight-bold">
					{{ .title }}
				</h1>
				{{ if .subTitle }}
				<p class="lead mb-3">
					{{.subTitle}}
				</p>
				{{ end }}
				{{ if or .buttonText .supportingText }}
				<div class="mt-4">
					{{ if .buttonText }}
						{{ $buttonVars := dict "text" .buttonText "url" .buttonUrl "style" "primary" "size" "lg"}}
						{{ partial "components/button.html" $buttonVars }}
					{{ end }}
					{{ if .supportingText}}
					<p class="mt-1">
						<small class="text-primary">
							{{.supportingText}}
						</small>
					</p>
					{{end}}
				</div>
				{{ end }}
				{{ if .bottomArrow }}
					<span class="align-text-bottom">
						<img src="img/down-arrow.png" height="38" width="60">
					</span>
				{{ end }}
			</div>
		</div>
	</div>
</section>
