<section class="section section-lg">
	<div class="container">
		<div class="row">
			<div class="col-md-11 col-lg-9 ml-auto mr-auto text-center">
				<h1 class="font-weight-bold mb-4 reveal-bottom">{{ .title }}</h1>
				<p class="lead">{{ .subTitle }}</p>
			</div>
		</div>
		<div class="row mt-5 justify-content-center reveal-left">
			<div class="col-md-3 pb-4 pb-sm-0 text-center">
				{{ $imageLinkVars := dict "href" .link1 "image" .image1 "text" .text1 }}
				{{ partial "components/image-link.html" $imageLinkVars }}
			</div>
			<div class="col-md-3 pb-4 pb-sm-0 text-center">
				{{ $imageLinkVars := dict "href" .link2 "image" .image2 "text" .text2 }}
				{{ partial "components/image-link.html" $imageLinkVars }}
			</div>
			<div class="col-md-3 text-center">
				{{ $imageLinkVars := dict "href" .link3 "image" .image3 "text" .text3 }}
				{{ partial "components/image-link.html" $imageLinkVars }}
			</div>
		</div>
	</div>
</section>