<footer class="section" data-background-color="black">
  <div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<a class="mb-2" href="{{ .Site.BaseURL | relURL }}">
					<img src="{{ .Site.Params.footerLogo }}" height="60px" alt="{{ .Site.Title }}" />
				</a>
				{{ if .Site.Params.footerText }}
					<p class="text-muted">
						{{ .Site.Params.footerText }}
					</p>
				{{ end }}
				<p>
					<small class="d-block mb-3 text-muted">
						&copy; {{ now.Year }} {{ .Site.Params.fullName }}
					</small>
				</p>
			</div>
			{{ range .Site.Menus.footer }}
				<div class="col-12 col-md">
					{{ if .HasChildren }}
						<h5>{{ .Name }}</h5>
						<ul class="list-unstyled text-small">
							{{ range .Children }}
								<li>
									<a class="text-muted" href="{{ .URL | relLangURL }}">
										{{ .Name }}
									</a>
								</li>
							{{ end }}
						</ul>
					{{ else }}
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="{{ .URL | relLangURL }}">
									{{ .Name }}
								</a>
							</li>
						</ul>
					{{ end }}
				</div>
			{{ end }}
		</div>
  </div>
</footer>