<footer class="section bg-dark text-light">
  <div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<a class="d-inline-block mb-2" href="{{ .Site.BaseURL | relURL }}">
					<img src="{{ .Site.Params.footerLogo }}" height="60px" alt="{{ .Site.Title }}" />
				</a>
				{{ if .Site.Params.footerText }}
					<p class="text-muted">
						{{ .Site.Params.footerText }}
					</p>
				{{ end }}
				<p>
					<small class="d-block mb-3 text-muted">
						&copy; {{ now.Year }} {{ .Site.Params.fullName }}
						<br />
						Icons made by <a class="text-muted" href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a class="text-muted" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
					</small>
				</p>
			</div>
			{{ range .Site.Menus.footer }}
				<div class="col-12 col-md">
					{{ if .HasChildren }}
						<h4>{{ .Name }}</h4>
						<ul class="list-unstyled text-small">
							{{ range .Children }}
								<li>
									<a class="text-muted" href="{{ .URL | relLangURL }}">
										{{ .Name }}
									</a>
								</li>
							{{ end }}
						</ul>
					{{ else }}
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="{{ .URL | relLangURL }}">
									{{ .Name }}
								</a>
							</li>
						</ul>
					{{ end }}
				</div>
			{{ end }}
		</div>
  </div>
</footer>