.dropdown-toggle {
	&[aria-expanded="true"] {
		&:after {
			transform: rotate(180deg);
		}
	}
	&:after {
		@include transition($transition-base);
	}
}

.dropdown-menu {
	transition: $transition-base;
	font-size: $dropdown-item-font-size;
	box-shadow: $dropdown-box-shadow;
	border: $dropdown-border-width;

	&:before {
		content: "";
		top: -4px;
		left: 15px;
    right: auto;
    position: absolute;
    color: $white;
		@include caret-up;
	}

	&.dropdown-menu-right {
		&:before {
			right: 15px;
			left: auto;
		}
	}

	.dropdown & {
		transform: translate3d(0, -25px ,0);
		opacity: 0;
		visibility: hidden;
		display: block;
	}

	.dropdown.show & {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0, 0);
	}

	.navbar .dropdown.show & {
		transform: translate3d(0, 7px ,0);
	}
}