// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff;
$black:    #000;

$theme-colors: (
	"primary": #1e9e6b
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Links
//
// Style anchor elements.

$inverted-link-hover-decoration:                   none;



// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .7;

$font-size-btn-base:					$font-size-base;
$font-size-btn-lg:						$font-size-base * 1;
$font-size-btn-sm:						$font-size-base * .7;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1.5rem;
$input-btn-font-size:         $font-size-btn-base;

$input-btn-padding-y-sm:      .375rem;
$input-btn-padding-x-sm:      .75rem;
$input-btn-font-size-sm:      $font-size-btn-sm;

$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      2.75rem;
$input-btn-font-size-lg:      $font-size-btn-lg;


// Navs

$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                1.5rem;

$nav-pills-border-radius:           0;


// Navbar

$navbar-padding-y:                  	$spacer / 1.75;

$navbar-nav-link-padding-x:         	1rem;

$navbar-transition:										.3s ease 0s;

$navbar-white-color:                 	rgba($black, .5);
$navbar-white-hover-color:           	rgba($black, .75);
$navbar-white-active-color:          	$black;
$navbar-white-disabled-color:        	rgba($black, .25);
$navbar-white-toggler-icon-bg:       	str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-white-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-white-toggler-border-color:  	rgba($black, .1);
$navbar-white-box-shadow:							0 0 20px 0 rgba($black, .15);

$navbar-white-brand-color:                 $navbar-white-active-color;
$navbar-white-brand-hover-color:           $navbar-white-active-color;

$navbar-transparent-color:                 rgba($white, .75);
$navbar-transparent-hover-color:           rgba($white, .9);
$navbar-transparent-active-color:          $white;
$navbar-transparent-disabled-color:        rgba($white, .25);
$navbar-transparent-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-transparent-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-transparent-toggler-border-color:  rgba($white, .1);

$navbar-transparent-brand-color:                 $navbar-transparent-active-color;
$navbar-transparent-brand-hover-color:           $navbar-transparent-active-color;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-item-padding-y:           .5rem;

$dropdown-item-font-size:           $font-size-base * .875;


// Sections
//
// For each section define padding.

$section-padding-y:               4em;
$section-padding-x:               0;

$section-padding-y-xs:						$section-padding-y * .125;
$section-padding-x-xs:						0;

$section-padding-y-sm:            $section-padding-y * .5;
$section-padding-x-sm:            0;

$section-padding-y-lg:            $section-padding-y * 1.25;
$section-padding-x-lg:            0;

$section-padding-y-xl:            $section-padding-y * 1.5;
$section-padding-x-xl:            0;