.nav-pills {
	.nav-link {
		&.active {
			background-color: $primary-color;
		}
	}

	&.nav-pills-neutral {
		.nav-item {
			.nav-link {
				background-color: $opacity-2;
				color: $white-color;
				border-radius: 0;
	
				&.active {
					&,
					&:focus,
					&:hover{
							background-color: $white-color;
							color: $black-color;
					}
				}
			}
		}
	}

	&.nav-pills-primary {
		.nav-link {
			color: $brand-primary;

			&.active {
				&,
				&:focus,
				&:hover{
					color: $white-color;
					background-color: $brand-primary;
				}
			}
		}
	}

	&.nav-pills-info {
		.nav-link {
			color: $brand-info;
			
			&.active {
				&,
				&:focus,
				&:hover{
					color: $white-color;
					background-color: $brand-info;
				}
			}
		}
	}

	&.nav-pills-success {
		.nav-link {
			color: $brand-success;

			&.active {
				&,
				&:focus,
				&:hover {
					color: $white-color;
					background-color: $brand-success;
				}
			}
		}
	}

	&.nav-pills-warning {
		.nav-link {
			color: $brand-warning;

			&.active {
				&,
				&:focus,
				&:hover {
					color: $white-color;
					background-color: $brand-warning;
				}
			}
		}
	}

	&.nav-pills-danger {
		.nav-link {
			color: $brand-danger;

			&.active {
				&,
				&:focus,
				&:hover {
					color: $white-color;
					background-color: $brand-danger;
				}
			}
		}
	}
}